
#main-container {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  align-content: stretch; }



  #chart-container {
    height: 300px;
    width: 100%;
    background-color: powderblue;
    display: flex ;
    flex-direction: row ;
    flex-wrap: nowrap ;
    justify-content: center ;
    align-items: center ;
    align-content: stretch ;
  }
