body {
  background-image: url("test.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-position: top;
  background-size: 90%;
  background-color: rgb(25,21,22);
  /* width: 10%;
  height: 100%; */
}

#login {
    text-align: left;
    color: LightGray;
    text-transform: uppercase;
    letter-spacing: 3px;
    position: fixed;
    top: 50%;
    left: 40%;
    margin-top: -50px;
    margin-left: -100px;
}

/* Style inputs */
  input, select {
  text-align: left;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Style the submit button */
input[type=submit] {
  text-align: center;
  font-size: 20px;
  letter-spacing: 3px;
  width: 100%;
  background-color: #767474;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Add a background color to the submit button on mouse-over */
input[type=submit]:hover {
  background-color: #CC0000;
}

#video {
 /* border-style: solid; */
 /* border-color: red; */
 /* border-width: 10px; */
 width: 100%;
 margin-left: auto;
 margin-right: auto;
 display: inline-block;
}

#snap {
  font-size: 40px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

#snap:hover {
  background-color: #CC0000;
}


















/*  */
